@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Regular.woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Medium.woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Bold.woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-ExtraBold.woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Black.woff');
    font-style: normal;
    font-weight: 800;
}





@font-face {
    font-family: 'Amsi-pro';
    src: url('../../fonts/EM-Amsi.Pro/TTF/AmsiPro-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Amsi-pro';
    src: url('../../fonts/EM-Amsi.Pro/TTF/AmsiPro-SemiBold.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Amsi-pro';
    src: url('../../fonts/EM-Amsi.Pro/TTF/AmsiPro-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Amsi-pro';
    src: url('../../fonts/EM-Amsi.Pro/TTF/AmsiPro-Black.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Amsi-pro';
    src: url('../../fonts/EM-Amsi.Pro/TTF/AmsiPro-Ultra.ttf');
    font-style: normal;
    font-weight: 800;
}




* {
    font-family: 'Amsi-pro', sans-serif;
}
p,button,input {
    font-family: 'Inter', sans-serif !important;
}
