$borderGray2: 2px solid hsl(0, 0%, 0%, 5%);
$borderBlue1: 1px solid #0080EF;
$borderBlueLight1: 1px solid #0080EF99;
$borderBlueLight1: 1px solid #007fef42;

$primaryBlue: #0080EF;
$primaryGreen: #4BCC83;
$tomatoRed: #FF6D6F;
$lightBlue: #E8F3FC;
$lightGreen: #D3FFE6;
$lightBlueSecondary: #DAEEFF;

$darkGray: #7C7676;